<header id="header">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="javascript:void(0);"><i class="fa fa-phone"></i> +91 8619719819</a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-envelope"></i> info@fashionpay.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->

  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 clearfix">
          <div class="logo pull-left">
            <a routerLink="/home"><img src="assets/home/images/home/logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-md-8 clearfix">
          <div class="shop-menu clearfix pull-right">
            <ul class="nav navbar-nav">
              <li><a (click)="refresh()"><i class="fa fa-refresh"></i> Refresh</a></li>
              <li><a routerLink="/home/dashboard"><i class="fa fa-user"></i> Account</a></li>
              <li><a routerLink="/home/order"><i class="fa fa-shopping-cart"></i> Orders</a></li>
              <li *ngIf="!loggedin"><a routerLink="/home/login"><i class="fa fa-lock"></i> Login</a></li>
              <li *ngIf="loggedin"><a (click)="logout()"><i class="fa fa-lock"></i> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-middle-->

  <div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a routerLink="/home/main" class="active">Home</a></li>
              <li class="dropdown"><a href="javascript:void(0);">Account<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a routerLink="/home/order"><i class="fa fa-shopping-cart"></i> Orders</a></li>
                  <li *ngIf="!loggedin"><a routerLink="/home/login"><i class="fa fa-lock"></i> Login</a></li>
                  <li *ngIf="loggedin"><a (click)="logout()"><i class="fa fa-lock"></i> Logout</a></li>
                </ul>
              </li>
              <!-- <li><a routerLink="/home/notfound">404</a></li> -->
              <li><a routerLink="/home/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <!-- <div class="search_box pull-right">
            <input type="text" placeholder="Search" />
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!--/header-bottom-->
</header>
<!--/header-->