<div class="blog-post-area">
  <h2 class="title text-center">&nbsp;</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        <i class="fa fa-table"></i> Your Orders
        <a routerLink="/home/order/add" class="btn btn-primary pull-right"
          >Add Order</a
        >
      </h3>
    </div>

    <div class="panel-body">
      <div style="position: relative">
        <!-- the position of the parent container must be set to relative -->
        <!-- It is really important to set loaderId for non-master loader -->
        <ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Order ID</th>
              <th>Paytm Phone</th>
              <th>Status</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ order.amazon_order_id }}</td>
              <td>{{ order.phone }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.remark }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
