<div class="blog-post-area">
  <h2 class="title text-center">&nbsp;</h2>
    <div class="panel panel-default">
    <div class="panel-heading">
    <h3><i class="fa fa-table"></i> Your Orders <a routerLink="/home/order/add" class="btn btn-primary pull-right">Add Order</a></h3>
    
    </div>
    
      <div class="panel-body">
        <div class="table-responsive">

          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Column name</th>
                <th>Column name</th>
                <th>Column name</th>
                <th>Column name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
  </div>


</div>