<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <!--category-productsr-->

    <div class="panel panel-default">
      <accordion [closeOthers]="true" style="margin-bottom:0px;">
        <accordion-group [isOpen]="true" #group1>
          <h4 class="panel-title" accordion-heading>
            <a>
              <span class="badge pull-right"
                ><i
                  class="fa "
                  [ngClass]="{
                    'fa-minus': group1?.isOpen,
                    'fa-plus': !group1?.isOpen
                  }"
                ></i
              ></span>
              Sportwear
            </a>
          </h4>
          <div class="panel-body">
            <ul>
              <li><a href="https://amzn.to/2GBLnAy">Nike </a></li>
              <li><a href="https://amzn.to/2GBLnAy">Under Armour </a></li>
              <li><a href="https://amzn.to/2GBLnAy">Adidas </a></li>
              <li><a href="https://amzn.to/2GBLnAy">Puma</a></li>
              <li><a href="https://amzn.to/2GBLnAy">ASICS </a></li>
            </ul>
          </div>
        </accordion-group>
        <accordion-group #group2>
          <h4 class="panel-title" accordion-heading>
            <a
              ><span class="badge pull-right"
                ><i
                  class="fa "
                  [ngClass]="{
                    'fa-minus': group2?.isOpen,
                    'fa-plus': !group2?.isOpen
                  }"
                ></i
              ></span>
              Men</a
            >
          </h4>
          <div class="panel-body">
            <ul>
              <li><a href="https://amzn.to/2GBLnAy">Fendi</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Guess</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Valentino</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Dior</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Versace</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Armani</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Prada</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Dolce and Gabbana</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Chanel</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Gucci</a></li>
            </ul>
          </div>
        </accordion-group>
        <accordion-group #group3>
          <h4 class="panel-title" accordion-heading>
            <a
              ><span class="badge pull-right"
                ><i
                  class="fa "
                  [ngClass]="{
                    'fa-minus': group3?.isOpen,
                    'fa-plus': !group3?.isOpen
                  }"
                ></i
              ></span>
              Women</a
            >
          </h4>
          <div class="panel-body">
            <ul>
              <li><a href="https://amzn.to/2GBLnAy">Fendi</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Guess</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Valentino</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Dior</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Versace</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Armani</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Prada</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Dolce and Gabbana</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Chanel</a></li>
              <li><a href="https://amzn.to/2GBLnAy">Gucci</a></li>
            </ul>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="https://amzn.to/2GBLnAy">Kids</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="https://amzn.to/2GBLnAy">Fashion</a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="https://amzn.to/2GBLnAy">Households</a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="https://amzn.to/2GBLnAy">Interiors</a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="https://amzn.to/2GBLnAy">Clothing</a>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="https://amzn.to/2GBLnAy">Bags</a></h4>
      </div>
    </div>
  </div>
  <!--/category-products-->

  <div class="shipping text-center">
    <!--shipping-->
    <img src="assets/home/images/home/shipping.jpg" alt="" />
  </div>
  <!--/shipping-->
</div>
