<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
</div>
<div class="modal-body custom-scroll terms-body">
  <div id="left">
    <h1>HOW IT WORKS?</h1>
    <h2>Introduction</h2>
    <p>These terms and conditions govern your use of this website; by using this website, you accept these terms and
      conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you
      must not use this website.</p>
    <p>[You must be at least [18] years of age to use this website. By using this website [and by agreeing to these
      terms and conditions] you warrant and represent that you are at least [18] years of age.]</p>

    <h2>Steps for using the Website</h2>
    <ol>
      <li>First of all, you need to sign-up or login on the website.</li>
      <li>Then search the product or click the product in the various sections of the website to purchase from the
        Amazon</li>
      <li>Product link redirects from this website to the Amazon website will only process in the cashback payment.</li>
      <li>Add your Amazon order in the <a routerLink="/home/order">Order</a> section of the user profile. Also, add your
        Paytm mobile number with Amazon Order.</li>
      <li>Then your order is first verified by the admin of the website.</li>
      <li>If your order status is approved, then your payment will be released within 2-3 days after the order is approved.
      </li>
      <li>If your order is rejected, no payment will be released.</li>
      <li>For further query/ problem <a routerLink="/home/contact">Contact Us</a></li>
      <li>On average you will be earn <strong>5-10%</strong> cashback upto 1000 rupees base on your purchase from our site.</li>
    </ol>

    <h2>Acceptable use</h2>
    <p>All payment release decision is made website owners only. All the right are reserved.</p>

    <h2>Limitations</h2>
    <ul>
      <li>Currently, the website is working in India only. No orders outside India will be processed.</li>
      <li>Currently, the website supports Paytm payment only for cashback.</li>
      <li>In the future, we will add more payment methods.</li>
    </ul>
    
    <h2>Entire agreement</h2>
    <p>These terms and conditions [, together with [DOCUMENTS],] constitute the entire agreement between you and [NAME]
      in relation to your use of this website, and supersede all previous agreements in respect of your use of this
      website.</p>
    <h2>Law and jurisdiction</h2>
    <p>These terms and conditions will be governed by and construed in accordance with [GOVERNING LAW], and any disputes
      relating to these terms and conditions will be subject to the [non-]exclusive jurisdiction of the courts of
      [JURISDICTION].</p>
  </div>
  <br>
  <br>
  <p><strong>By using this WEBSITE TERMS AND CONDITIONS template document, you agree to the
      <a href="#">terms and conditions</a> set out on
      <a href="#">fashionpay.com</a>. You must retain the credit
      set out in the section headed "ABOUT THESE WEBSITE TERMS AND CONDITIONS". Subject to the licensing restrictions,
      you should
      edit the document, adapting it to the requirements of your jurisdiction, your business and your
      website. If you are not a lawyer, we recommend that you take professional legal advice in relation to the editing
      and
      use of the template.</strong>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="close.emit(true)">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" id="i-agree" (click)="agree.emit(true)">
    <i class="fa fa-check"></i> I Agree
  </button>
  <button type="button" class="btn btn-danger pull-left" id="print">
    <i class="fa fa-print"></i> Print
  </button>
</div>