<div id="homee-page">
    <app-fheader></app-fheader>
    <!-- slider code -->
    <section id="slider" *ngIf="showslider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>Fashion</span>PAY</h1>
                                    <h2>Free E-Commerce Template</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="../../../assets/home/images/home/girl1.jpg" class="girl img-responsive"
                                        alt="" />
                                    <img src="../../../assets/home/images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/slider-->
    <section *ngIf="!loginpage" style="clear:both;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <app-fsidebar></app-fsidebar>
                </div>
                <div class="col-sm-9">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="loginpage">
        <router-outlet></router-outlet>
    </section>
    <app-ffooter></app-ffooter>
</div>